html, body {
  font-family: arial;
  color: #444;
  -webkit-font-smoothing: antialiased;
  background: #ece5da;
}

.round {
  border-radius: 50%;
}

section.header {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}
section.header h1, section.header h3 {
  transform: matrix(1, 0, 0, 1, 0, 0);
}
section.header h1 {
  font-family: "Oswald", Sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 70px;
  text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;
  margin-top: 0;
}
section.header h1 span {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  padding-top: 0;
}
section.header span.star {
  font-size: 20px;
}
section.header h3 {
  font-family: "Open Sans", Sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.1em;
  margin-bottom: -10px;
  position: relative;
}
section.header h3:before, section.header h3:after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 4px;
  border-top: 2px solid #121212;
  border-bottom: 2px solid #121212;
}
section.header h3:before {
  margin: 5px 0 0 -110px;
}
section.header h3:after {
  margin: 5px 0 0 10px;
}

#explanation {
  padding-top: 0;
}

#explanation, #credits {
  margin: auto;
  padding: 3rem;
  font-family: Georgia, Baskerville, serif;
  font-size: 1.63rem;
  text-align: justify;
  text-align: center;
}
#explanation img, #credits img {
  margin: 3rem auto;
  display: block;
}
